body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  transition: all 350ms;
}
.app_outer {
  flex: 1;
  width: 100%;
  overflow-x: auto;
}

.app_boards {
  margin-top: 20px;
  min-width: fit-content;
  display: flex;
  gap: 30px;
  padding-inline: 2rem;
  color: var(--text-color);
}
/* p {
  font-size: 16px;
  line-height: 28px;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);

}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.tab-panel {
  display: none; /* Hide all tab panels by default */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  background-color: rgb(0, 0, 0);
  align-items: right;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Column container for tasks */
.column-container {
  background-color: #3273dc; 
  color: #fff;
  border-radius: 4px;
  width: 300px;
  margin: 8px;
  padding: 8px;
  display: inline-block;
  vertical-align: top;
}

/* Column title for tasks */
.column-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  cursor: pointer;
  width:80%;
}

.column-title-input {
  width: 50%;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Styling for tasks (resembling cards) */
.task {
  background-color: #f4f5f7;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.task:hover {
  background-color: #e0e0e0d0;
}

/* Text styling for inside the tasks (cards) */
.task-content {
  font-size: 14px;
  color: #282c34;
}

.add-card-button {
  background-color:  #3273dc; 
  color: #ffffff;
  border: none;
  padding-right: 215px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.add-card-button:hover {
  background-color:#2a60b7;
} 

/* Dim the background when editing a card */
.dim-background {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Ensure it appears above other elements */
}

/* Style for the card buttons */
.card-buttons {
  position: absolute;
  top: 10px; /* Adjust positioning as needed */
  right: 10px; /* Adjust positioning as needed */
}

.card-buttons button {
  margin-right: 10px; /* Adjust spacing as needed */
}

.open-button {
  background-color: #303030cf; 
  color: #ffffff;
  border: none;
  margin-top: 10px;
  margin-right: 5px;
  padding: 5px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.save-button {
  background-color:  #303030cf; 
  color: #ffffff;
  border: none;
  margin-top: 10px;
  margin-right: 5px;
  padding: 5px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button {
  border: none;
  float: right;
  padding-top: 3px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-button {
  background-color: #303030cf; 
  color: #ffffff;
  border: none;
  margin-top: 10px;
  margin-right: 5px;
  padding: 5px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px; 
  position: relative;
  top: -40px;
}

.close-button-overlay {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 10px; 
  right: 10px; 
}

.close-button-overlay:hover {
  background-color: #ccc;
}

.close-button-overlay img {
  width: 26px;
  height: 26px;
  display: block;
}

.card-overlay .overlay-content h4 {
  color: black;
}

.task-name {
  margin-top: auto;
}

.task-details {
  color: black;
}

.task-in-column {
  color: black;
  position: relative;
  top: -40px;
  left: 3px;
  font-size: 16px;
}

.labels-header {
  color: black;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: 0px; 
}

.labels {
  color: black;
}

.labels-list {
  align-self: flex-start;
  margin-bottom: 20px;
}

.add-labels-btn {
  background-color: #3273dc; 
  color: #ffffff;
  border: none;
  margin-left: 7px;
  position: relative;
  top: -2px;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 2px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
}

.create-label-input {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

.change-color-btn {
  background-color: rgb(238, 238, 238);
  width: 8%;
  border: none;
  padding: 3px 2px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  position: relative;
  top: 3px;
}

.change-color-btn:hover {
  background-color:rgb(228, 228, 228);
}

.create-label-btn {
  width: 24%;
  background-color: #3273dc;
  color: #ffffff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}

/* Add hover effect for better user experience */
.create-label-btn:hover {
  background-color: #2759b2;
}

.label-text {
  color: black;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #3273dc;
  color: #ffffff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description-header {
  color: black;
  font-size: 20px;
  margin: 0; /* Remove the margin to eliminate the gap */
}

.description-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

.save-description-btn {
  background-color: #3273dc;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

/* Add hover effect for better user experience */
.save-description-btn:hover {
  background-color: #2759b2;
}

.cancel-description-btn {
  background-color: #9c9c9c;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-left: 3px;
}

/* Add hover effect for better user experience */
.cancel-description-btn:hover {
  background-color: #848484;
}


.add-column-button {
    background-color: rgba(183, 183, 183, 0.316); /* Adjust the last value (alpha) as needed */
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 5px;
  }

  .meetingMinute {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;  /* Optional padding for some space */
    border: 1px solid #ccc;  /* Optional border */
    margin-bottom: 5px;  /* Optional margin for spacing between tasks */
}
