body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  transition: all 350ms;
}
.app_outer {
  flex: 1;
  width: 100%;
  overflow-x: auto;
}

.app_boards {
  margin-top: 20px;
  min-width: fit-content;
  display: flex;
  gap: 30px;
  padding-inline: 2rem;
  color: var(--text-color);
}
/* p {
  font-size: 16px;
  line-height: 28px;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);

}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.tab-panel {
  display: none; /* Hide all tab panels by default */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  background-color: rgb(0, 0, 0);
  align-items: right;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}