body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  transition: all 350ms;
}
.app_outer {
  flex: 1;
  width: 100%;
  overflow-x: auto;
}

.app_boards {
  margin-top: 20px;
  min-width: fit-content;
  display: flex;
  gap: 30px;
  padding-inline: 2rem;
  color: var(--text-color);
}
/* p {
  font-size: 16px;
  line-height: 28px;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);

}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.tab-panel {
  display: none; /* Hide all tab panels by default */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  background-color: rgb(0, 0, 0);
  align-items: right;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Column container for tasks */
.column-container {
  background-color: #3273dc; 
  color: #fff;
  border-radius: 4px;
  width: 300px;
  margin: 8px;
  padding: 8px;
  display: inline-block;
  vertical-align: top;
}

/* Column title for tasks */
.column-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Styling for tasks (resembling cards) */
.task {
  background-color: #f4f5f7;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.task:hover {
  background-color: #e0e0e0;
}

/* Text styling for inside the tasks (cards) */
.task-content {
  font-size: 14px;
  color: #282c34;
}

.add-card-button {
  background-color:  #3273dc; 
  color: #ffffff;
  border: none;
  padding-right: 215px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.add-card-button:hover {
  background-color:#2a60b7;
}

/* Dim the background when editing a card */
.dim-background {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Ensure it appears above other elements */
}

/* Style for the card buttons */
.card-buttons {
  position: absolute;
  top: 10px; /* Adjust positioning as needed */
  right: 10px; /* Adjust positioning as needed */
}

.card-buttons button {
  margin-right: 10px; /* Adjust spacing as needed */
}

.open-button {
  background-color:  #70747c; 
  color: #ffffff;
  border: none;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.save-button {
  background-color:  #70747c; 
  color: #ffffff;
  border: none;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button {
  background-color:  #70747c; 
  color: #ffffff;
  border: none;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}


